<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Nuzlocke Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is the show</h1>

    <h3> Your Team: </h3>

    <div>Team:</div>
    <% nuzlocke.pokemons.forEach(function(p) { %>
        <div><%= p.pokemon %></div>
        <div><%= p.nickname %></div>
        <div><%= p.badgeMet %></div>
        <div><%= p.alive %></div>
        <div><%= p.inParty %></div>
        <div><%= p.story %></div>
        <button><a href="/nuzlockes/<%= nuzlocke.id %>/edit/<%= p.id %>">Edit</a></button>
        <br>
        <br>
    <% }) %>


    <button><a href='/nuzlockes/<%= nuzlocke.id %>/newPokemon'>Add a Pokemon Here</a></button>

    <form action="/nuzlockes/<%= nuzlocke.id %>?_method=DELETE"
        class="delete-nuzlocke" method="POST">
        <button type="submit">Delete</button>
    </form>
  </body>
</html>